altgraph==0.17
bcrypt==3.2.0
cffi==1.14.4
comtypes==1.1.8
cryptography==3.3.1
future==0.18.2
numpy==1.19.5
paramiko==2.7.2
pefile==2019.4.18
pycparser==2.20
pyinstaller==4.1
pyinstaller-hooks-contrib==2020.11
PyNaCl==1.4.0
pyperclip==1.8.1
pywin32==225
pywin32-ctypes==0.2.0
pywinauto==0.6.8
scp==0.13.3
scpclient==0.7
selenium==3.141.0
six==1.15.0
urllib3==1.26.2
xlrd==2.0.1
